.places {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 100px;
}

@media screen and (max-width: 1150px) {
    .places {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    .places {
        margin: 0 24px;
    }
}

@media screen and (max-width: 560px) {
    .places {
        margin: 0;
    }
}