.header {
    max-width: 1184px;
    margin: 0 0 56px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1150px) {
    .header {
        margin: 0 0 48px;
    }
}

@media screen and (max-width: 900px) {
    .header {
        margin: 0 24px 48px;
    }
}

@media screen and (max-width: 550px) {
    .header {
        margin: 0 16px 48px;
    }
}