.content {
    max-width: 100%;
    display: grid;
    grid-row-gap: 92px;
}

@media screen and (max-width: 900px) {
    .content {
        grid-row-gap: 88px;
    }
}

@media screen and (max-width: 560px) {
    .content {
        grid-row-gap: 64px;
    }
}